@model IEnumerable<Quiz>

<ul>
@foreach (var qz in Model)
{
     var tempId = qz.QuizId;
    <ul>
        <il>
          <a>@qz.QuizId</a>
          <ul>
                @foreach(var q in qz.Quizquestions)
                {
                    if (q.QuizId == tempId)
                    {
                        <li>@q.Question</li>
                    }
                }
          </ul>
        </il>
    </ul>
    
}
</ul>