@model IEnumerable<Quiz>

<ul>
<!--Pour chaque Quiz-->
@foreach (var qz in Model)
{
     var tempId = qz.QuizId; <!---->
    <ul>
        <il>
          <a>@qz.QuizId</a>
          <ul>
                <!--Pour chaque question de la base de données, voir si son id est dans le current quizquestion-->
                @foreach(var q in qz.Quizquestions)
                {
                    if (q.QuizId == tempId)
                    {
                        <li>@q.Question</li>
                    }
                }
          </ul>
        </il>
    </ul>
    
}
</ul>