
<div>
	<h1>Créer un nouveau quiz</h1>
	<br />
	<u><h3>Choisissez les questions que vous souhaitez dans votre quiz :</h3></u>
	<form asp-action="AddQuiz" method="post">
		<label for="choix1">Choix du nombre de question pour la difficulté facile:</label>
		<select id="choix1" name="choix1">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<br />
		<label for="choix2">Choix du nombre de question pour la difficulté moyenne:</label>
		<select id="choix2" name="choix2">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<br />
		<label for="choix3">Choix du nombre de question pour la difficulté difficile:</label>
		<select id="choix3" name="choix3">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<br />
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
