@model Quiz

<div>

    <h1>Quiz number : @Model.QuizId</h1>

    @foreach (var qq in Model.Quizquestions)
    {
        <h3>@qq.Question.Question1</h3>
         <ul>
            @foreach (var e in qq.Question.Choixdereponses)
            {
                <li style="list-style:none" class="list-inline-item px-2" >@e.Choix</li>
            }
        </ul> 
        <br />
    }
</div>


