<div style="text-align:center;">
	<div>
		<img src="https://thumbs.dreamstime.com/b/quiz-comic-style-brainy-game-vector-design-154072110.jpg" alt="Quiz?" style="width:fit-content ;aspect-ratio:1.4/1;margin-bottom:20px" />
	</div>
	<style>
		button {
			padding: 5px;
		}
	</style>

	<span style="text-align:center;">
		<button type="button" onclick="location.href='@Url.Action("NewQuiz", "Home")'" >Create a quiz</button>
		<button type="button" onclick="location.href='@Url.Action("SeeQuizzes", "Home")'">See my Quizzes</button>
		<button type="button" onclick="location.href='@Url.Action("SeePastQuizzes", "Home")'">Review My quizzez</button>
	</span>
	<div>
		<button type="button" onclick="location.href='@Url.Action("Login", "Home")'">Return to Login</button>
	</div>

</div>